.info-block {
    background-color: #424242;
    padding: var(--base-spacing);
    border-radius: 8px;
    margin: var(--base-spacing) auto;
    width: fit-content;
    height: fit-content;
}

.info-block-full {
    width: 100%;
}