.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
}

.header-nav {
  display: flex;
  gap: var(--base-spacing);
  margin: 0 auto;
}

.header-nav-item {
  text-decoration: none;
  color: var(--text-color);
  padding: var(--base-spacing);

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}
