.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
  width: 100%;
  z-index: 1000;
}

.header-nav-item {
  text-decoration: none;
  color: var(--text-color);
  padding: var(--base-spacing);

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}
