.lang-switch {
  padding: var(--base-spacing);
  & > *:first-child {
    border-right-width: 1px;
    border-radius: 0.375rem 0 0 0.375rem;
  }

  & > *:last-child {
    border-left-width: 1px;
    border-radius: 0 0.375rem 0.375rem 0;
  }

  .active {
    background-color: white;
    color: black;
  }
}