.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-spacing-double);
  justify-content: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 8px solid #ffffff;
} 

.intro-name {
  font-size: 3rem;
  font-weight: 600;
}