.home-page {
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  padding: 2px;
  border: 4px solid #000000;
} 

.intro-name {
  color: var(--accent-color);
  font-size: 3rem;
  font-weight: 600;
}