.navigation-links {
  display: flex;
  padding: var(--base-spacing);
  gap: var(--base-spacing);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;

  &:hover {
    color: #ff2a00;
  }

  &.active {
    color: #ff2a00;
  }
}
