html,
body {
  display: block;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

:root {
  --font-family: 'JetBrains Mono', 'Fira Code', 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --text-color: #ffffff;
  --text-color-transparent: rgba(255, 255, 255, 0.28);
  --text-color-secondary: #ffffff;
  --base-spacing: 16px;
  --base-spacing-half: 8px;
  --base-spacing-double: 32px;
  --base-spacing-oneandhalf: 24px;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  font-weight: 300;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}