html {
  display: block;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

:root {
  --font-family: Poppins, Helvetica, sans-serif;
  --font-size: 18px;
  --text-color: #333;
  --text-color-secondary: #adadad;
  --accent-color: #FF4C4C;
  --background-color: #fff;
  --base-spacing: 16px;
  --base-spacing-half: 8px;
  --base-spacing-double: 32px;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  min-height: 100vh;
  font-weight: 300;
  line-height: 1.3;
  background-color: var(--background-color);
  overflow: hidden;
}